/* src/components/layout/Navbar.css */

.navbar {
    background-color: var(--primary-color);
    padding: var(--spacing-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
  }
  
  .navbar-logo {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: var(--spacing-large);
  }
  
  .navbar-links li a {
    color: var(--secondary-color);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
  }
  
  .navbar-links li a:hover {
    color: var(--button-hover-color);
  }
  